<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SysHesAnbDb" connectionString="Data Source=|DataDirectory|\Negar.db;Version=3;" providerName="System.Data.SQLite"/>
  </connectionStrings>
  <appSettings>
    <!-- نسخه‌های قابل انتخاب: Mini (فروشگاه کوچک) | Medium (فروشگاه متوسط) | Big (شرکت بزرگ) -->
    <add key="AppEdition" value="Mini"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
